#main{
    /* border: 1px solid red; */
    width: 90%;
    height: auto;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
#main>div{
   /* border: 2px solid green; */
   height: auto;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
}
#main>div>img{
    width: 120px;
    height: 120px;
   
}
#main>div>h1{
color: green;
font-size: 16px;
}
#main>div>h4{
    text-transform: uppercase;
}