#nav{
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color:rgb(251,238,230) ;
}

#nav>div>a{
    font-size: 25px;
    text-decoration: none;
    color: black;
}

#nav>div>img{
    width: 80px;
    height: 80px;
}